.contenedor {
  max-width: 500px;
  margin: 24px auto;
  padding: 16px;
}

.formulario {
  display: flex;
  gap: 12px;
  align-items: center;
}

mat-form-field {
  flex: 1;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
}